.table {
  margin: 1rem 0;
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    border: 1px solid var(--border);
    padding: 0.5em;
  }

  th {
    text-align: start;
  }
}

.btn--runner {
  background-color: var(--runner);
}
