.controls {
  border: 1px solid var(--border);
  border-radius: var(--br-s);

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 600px) {
    flex-direction: row;
  }

  color: var(--primary);

  &__title {
    font-size: var(--large);
    font-weight: 500;

    margin: 0.5em 0.5em 0 0.5em;
  }

  &__add-runner {
    display: flex;
    flex-direction: column;

    @media (min-width: 600px) {
      flex-direction: row;
    }

    input {
      margin: 1em 0;
      border: 1px solid var(--border);
      border-radius: var(--br-s);

      @media (min-width: 600px) {
        margin: 0 1em 0 0;
      }
    }

    .btn--add {
      background-color: var(--add);
    }
  }

  &__commands {
    display: flex;
    margin: 1em;

    .btn--start {
      margin-right: 0.5em;
      background-color: var(--start);
    }

    .btn--end {
      background-color: var(--stop);
    }

    &__time {
      // padding: 1em;
    }
  }
}
